body {
    background-color: #eee;
    padding: 2em;
    font-family: 'Raleway', 'Source Sans Pro', 'Arial';
}

.labelText {
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
    background-color: #123;
}

label {
    display: inline;
}

#inputbuttons {
    display: flex;
    justify-content: center;
}

button {
    display: inline;
}

#status {
    display: inline;
    color: red;
}

#loadingGif {
    width: 35px;
    height: 35px;
    display: none;
}



